html,body,table,
h1,h2,h3,h4,h5,h6
p,form,
fieldset,legend,
ol,ul,li,dl,dt,dd{margin:0;padding:0;border:0;font-weight:normal;list-style:none;}
img{vertical-align:middle;}
a{cursor:pointer;text-decoration:none;color:inherit;}
a img{border:0;}
input,select,textarea{font:inherit;}
input[type="password"],
input[type="text"]{margin:0;}
html { background: #000; font-family: sans-serif; }

/* fix window-html-body box model */
html { overflow-y: scroll; height: 100%; }
body { width: 320px; margin: 0 auto; position: relative; min-height: 100%; }


html, body { color: #fff; }

.hidden { display: none; }

a { color: #8af; }

.clock .sep { color: #aaa; }
.clock .hours.chosen { color: #8f8; }
.clock .minutes.chosen { color: #88f; }

#time-panel { position: relative; overflow: hidden; height: 460px; z-index: 1; -webkit-user-select: none; }

#time-panel .period { font-size: 50px; text-align: center; margin: 30px 0 15px; }

#clockface { position: relative; width: 320px; height: 354px; }
#clockface .button { position: absolute; overflow: hidden; width: 45px; height: 45px; border: 3px solid #0a0a0a; border-radius: 25px; text-align: center; font-size: 27px; line-height: 43px; color: #fff; text-shadow: 0 1px #000; cursor: pointer; }
#clockface .hours .button.selected,
#clockface .minutes .button.selected { color: #000; font-size: 36px; width: 51px; height: 51px; border-width: 0; text-indent: 3px; line-height: 52px; }

#clockface .button.selected.teen { text-indent: -3px; }
#clockface .button.teen { text-indent: -2px; }

#clockface .hours .button { background-color: #343; width: 47px; height: 47px; border-width: 1px; line-height: 45px; }
#clockface .hours .button.selected { background-color: #4f4; border-color: #4f4; color: #000; }
#clockface .minutes .button { background-color: #334; width: 39px; height: 39px; border-width: 6px; line-height: 40px; }
#clockface .minutes .button.selected { background-color: #68f; border-color: #68f; color: #000; }

#clockface .hours .button.n0    { left: 134px; top: 50px; }
#clockface .hours .button.n1    { left: 186px; top: 50px; }
#clockface .hours .button.n2    { left: 218px; top: 99px; }
#clockface .hours .button.n3    { left: 213px; top: 151px; }
#clockface .hours .button.n4    { left: 218px; top: 203px; }
#clockface .hours .button.n5    { left: 186px; top: 252px; }
#clockface .hours .button.n6    { left: 134px; top: 252px; }
#clockface .hours .button.n7    { left:  82px; top: 252px; }
#clockface .hours .button.n8    { left:  50px; top: 203px; }
#clockface .hours .button.n9    { left:  55px; top: 151px; }
#clockface .hours .button.n10   { left:  50px; top:  99px; }
#clockface .hours .button.n11   { left:  82px; top:  50px; }

#clockface .minutes .button.n0  { left: 134px; top: -3px; }
#clockface .minutes .button.n5  { left: 225px; top: -3px; }
#clockface .minutes .button.n10 { left: 269px; top:  61px; }
#clockface .minutes .button.n15 { left: 269px; top:  151px; }
#clockface .minutes .button.n20 { left: 269px; top:  241px; }
#clockface .minutes .button.n25 { left: 225px; top:  306px; }
#clockface .minutes .button.n30 { left: 134px; top:  306px; }
#clockface .minutes .button.n35 { left: 44px;  top:  306px; }
#clockface .minutes .button.n40 { left: 0px;   top:  241px; }
#clockface .minutes .button.n45 { left: 0px;   top:  151px; }
#clockface .minutes .button.n50 { left: 0px;   top:  61px; }
#clockface .minutes .button.n55 { left: 44px;  top: -3px; }

#clockface .reset { position: absolute; width: 60px; height: 90px; left: 130px; top: 130px; border-radius: 20px; background-color: #111; }


#results-panel { display: none; position: absolute; z-index: 2; left: 0; top: 100px; right: 0; bottom: 0; padding: 10px; background-color: #000; }
body.results #results-panel { display: block; }

#panic { display: none; position: absolute; left: 0; top: 0; right: 0; bottom: 0; background-color: #400; font-size: 20px; }
body.panic #panic { display: block; }
