body,table,
h1,h2,h3,h4,h5,h6
p,form,
fieldset,legend,
ol,ul,li,dl,dt,dd{margin:0;padding:0;border:0;font-weight:normal;list-style:none;}
img{vertical-align:middle;}
a{cursor:pointer;text-decoration:none;color:inherit;}
a img{border:0;}
input,select,textarea{font:inherit;}
input[type="password"],
input[type="text"]{margin:0;}
html { background: #000; font-family: sans-serif; }

html, body { color: #fff; }

.time-result { font-size: 65px; width: 155px; margin: 10px auto 15px; }

.time-select .hours { overflow: hidden; margin-bottom: 30px; }
.time-select .button { float: left; overflow: hidden; width: 54px; height: 54px; }
.time-select .button:nth-child(6n-5),
.time-select .button:nth-child(6n) { width: 52px; }
.time-select .button .digit { display: block; width: 45px; height: 45px; margin: 3px; background-color: #444; border-radius: 3px; text-align: center; font-size: 27px; line-height: 43px; color: #fff; }
.time-select .button .digit.teen { text-indent: -2px; }
.time-select .button .digit { text-shadow: 0 1px #000; }
.time-select .button.selected .digit { color: #000; font-size: 36px; }
.time-select .hours .button .digit { background-color: #343; }
.time-select .hours .button.selected .digit { background-color: #4f4; color: #000; }
.time-select .minutes .button .digit { background-color: #334; }
.time-select .minutes .button.selected .digit { background-color: #68f; color: #000; }

